<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>FunVido - Funny Video and Entertainment Mobile App</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="/">FunVido</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/videos">Videos</a>
                </li>
                
                <li class="nav-item">
                    <a class="nav-link" href="/categories">Categories</a>
                </li>
                </ul>
            </div>
        </div>        
    </nav>

    <div class="container">

        <div class="row">
            <div class="col-6 offset-sm-3">
                <h2>Add New Category</h2>
                <form action="/categories" method="POST" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="title" class="control-label">Category Title</label>
                        <input type="text" name="title" id="title" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="details" class="control-label">Details</label>
                        <textarea name="details" id="details" rows="3" class="form-control"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="thumbnail" class="control-label">Thumbnail</label>
                        <input type="file" name="thumbnail" id="thumbnail" class="form-control">
                    </div>
                    <button type="submit" class="btn btn-primary">Save Category</button>
                </form>
            </div>
        </div>
    
    </div>
</body>
</html>