<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>FunVido - Funny Video and Entertainment Mobile App</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="/">FunVido</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/videos">Videos</a>
                </li>
                
                <li class="nav-item">
                    <a class="nav-link" href="/categories">Categories</a>
                </li>
                </ul>
            </div>
        </div>        
    </nav>

    <div class="container">
        <div class="row">
            <div class="col col-6 offset-sm-3">
                <h2>Add New Video</h2>
                <form action="/videos" method="POST">
                    <div class="form-group">
                        <label for="videoId" class="control-label">Video Id</label>
                        <input type="text" name="videoId" id="videoId" class="form-control">
                    </div> 
                    <div class="form-group">
                        <label for="title" class="control-label">Video Title</label>
                        <input type="text" name="title" id="title" class="form-control">
                    </div> 

                    
                   
                    <div class="form-group">
                        <label for="category" class="control-label">Video Category</label>
                        <select name="category" id="category" class="form-control">
                            <option value="">Select Category</option>
                            <% categories.forEach(function(category) { %>
                                <option value="<%= category._id %>"> <%= category.title %></option>
                            <% }); %>
                        </select>
                    </div> 

                    <div class="form-group">
                        <label for="thumbnailType" class="control-label">Thumbnail Type</label>
                        <select name="thumbnailType" id="thumbnailType" class="form-control">
                            <option value="">Select Category</option>
                            <option value="default.jpg">Default</option>
                            <option value="mqdefault.jpg">Medium </option>
                            <option value="hqdefault.jpg">High </option>
                            <option value="sddefault.jpg">Standard </option>
                            <option value="maxresdefault.jpg">Max Res Default</option>
                        </select>
                    </div> 
                    
                    <div class="form-group">
                            <div class="form-group">
                                <label for="laughing" class="control-label"> Laughing Video</label>
                                <select name="laughing" id="laughing" class="form-control">
                                    <option value="">Select option</option>
                                    <option value="true">True</option>
                                    <option value="false">False </option>
                                </select>
                            </div>
                        </div>

                    <button type="submit" class="btn btn-primary">Save Video</button>               
                </form>
            </div>
        </div>
    </div>
</body>
</html>