<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>FunVido - Funny Video and Entertainment Mobile App</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-3">
        
        <div class="jumbotron text-center">
            <img src="/img/under_construction.png" class="img-fluid" width="200px">
            <h2>WE ARE UNDER CONSTRUCTION</h2>
        </div>
    </div>
</body>
</html>